Options -Indexes
DirectoryIndex index.php

<IfModule mod_headers.c>
    <FilesMatch "\.(css|js|svg|woff2)$">
        Header set Cache-Control "public, max-age=2592000"
    </FilesMatch>
</IfModule>

<FilesMatch "^\.">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>
